body{
    padding: 0 !important;
}
.scroll-container {
    overflow-x: auto;
    white-space: nowrap; 
}

.round-container {
    display: inline-block;
    vertical-align: top;
    margin-right: normal; 
}

.round-label {
    width: 40px;
    height: 120px;
    display: inline-block;
    background-color: rgb(43, 50, 84);
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: top;
}

.round-label div {
    transform: rotate(270deg);
    transform-origin: left top 0;
    position: relative;
    top: 130px;
    right: 50px;
    font-size: 18px;
    left: 65px;
}
.rotate90 {
    transform: rotate(-90deg);
    transform-origin: center center;
    width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -60px; 
    margin-top: -10px; 
    font-size: 18px;
}
.player-block {
    width: 140px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(228, 228, 228);
}

.player-block:last-child {
    border-right: none;
}

.player-info {
    text-align: center;
    padding: 4px;
    font-size: 14px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.player-info2 {
    text-align: center;
    padding: 4px;
    font-size: 14px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-initials {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    font-weight: bold;
    background-color: rgb(197, 199, 207);
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid rgb(228, 228, 228);
}

table {
    border-collapse: collapse;
    width: 75%;
    border: 1px solid black; 
    margin: 10px 70px 25px 70px;
  }

  th, td {
    border: 0.5px solid black; /* Add a border to cells */
    padding: 8px;
    /* text-align: left; */
  }

  th {
    background-color: #f2f2f2;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  /* Style the table header */
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    margin-bottom: 6px; /* Add margin at the bottom of the headers */
    text-align: center !important; /* Center the text within the headers */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis; /* Add ellipsis (...) for long text */

  }

 /* Style alternating rows with different background colors for better readability */
tbody tr:nth-child(even) {
    background-color: #dcdcdc;
  }

tr{
    height: 2px;

}

#pagination{
    text-align: center;
    margin-bottom: 20px;
}
#pagination span{
    text-align: right;
    margin-right: 360px;
    margin-bottom: 10px;
    display: inline-block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 4px;
    
}
.page-number.active {
    background-color: #198754;
  color: white;
  border: 1px solid #198754;
}

.search{
    margin-left: 70px !important; 
}

.row {
    display: flex;
    justify-content: space-between;
}
.navbar-brand{
    margin-top: 2px;
    margin-bottom: 15px;
}

